@charset "UTF-8";
@font-face {
  font-family: Andralis;
  font-weight: regular;
  src: url("../assest/Tipografías/Andralis_ND/Andralis_ND_OsF_Regular.otf") format("opentype");
}
@font-face {
  font-family: HKGrotesk;
  font-weight: regular;
  src: url("../assest/Tipografías/Hk_Grotesk/HKGrotesk-Regular.otf") format("opentype");
}
@font-face {
  font-family: Nagoda;
  font-weight: regular;
  src: url("../assest/Tipografías/Nagoda/Nagoda.otf") format("opentype");
}
@keyframes escribir {
  from {
    width: 90%;
  }
  to {
    width: 0;
  }
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.footer {
  padding: 40px;
  background-color: #fff;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}
.footer .social a {
  font-size: 20px;
  color: inherit;
  line-height: 38px;
  display: inline-block;
  align-items: center;
  margin: 0 8px;
  opacity: 0.75;
  transition: 0.5s ease;
}
.footer .social a:hover {
  opacity: 0.9;
  transform: scale(1.3, 1.3);
}
@media screen and (min-width: 480px) {
  .footer .social a {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer .social a {
    font-size: 29px;
  }
}
@media screen and (min-width: 1024px) {
  .footer .social a {
    font-size: 35px;
  }
}
.footer ul {
  display: grid;
  grid-template-areas: "inicio  conocenos  publi " " eventos contacto .";
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  list-style: none;
  line-height: 1.6;
}
.footer ul #list_nav1 {
  grid-area: inicio;
}
.footer ul #list_nav2 {
  grid-area: conocenos;
}
.footer ul #list_nav3 {
  grid-area: publi;
}
.footer ul #list_nav4 {
  grid-area: eventos;
}
.footer ul #list_nav5 {
  grid-area: contacto;
}
@media screen and (min-width: 480px) {
  .footer ul {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .footer ul {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .footer ul {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "inicio  conocenos  publi  eventos contacto";
    font-size: 10px;
  }
}
.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li a:hover {
  opacity: 1;
}

body {
  font-family: Andrealis;
}
body .main {
  background-color: rgba(248, 248, 248, 0.7);
  filter: blur(1.1);
  padding: 2vw 2vh;
  border: solid 0.4em transparent;
  border-radius: 0.3em;
  display: flexbox;
  flex-direction: column;
}
body .main .title {
  text-align: center;
  font-size: 3rem;
  padding: 0.8em 0.4em;
}
body .main .galeria {
  padding-bottom: 3em;
  padding-top: 1em;
  display: grid;
  grid-auto-rows: 160px;
  grid-template-areas: "img1 img1 " "img7 img3 " "img4 img4 " "img4 img4 " "img8 img2 " "img5 img6 ";
  gap: 0.5em;
}
body .main .galeria .galeria__fot--g1 {
  grid-area: img1;
}
body .main .galeria .galeria__fot--g2 {
  grid-area: img2;
}
body .main .galeria .galeria__fot--g3 {
  grid-area: img3;
}
body .main .galeria .galeria__fot--g4 {
  grid-area: img4;
}
body .main .galeria .galeria__fot--g5 {
  grid-area: img5;
}
body .main .galeria .galeria__fot--g6 {
  grid-area: img6;
}
body .main .galeria .galeria__fot--g7 {
  grid-area: img7;
}
body .main .galeria .galeria__fot--g8 {
  grid-area: img8;
}
body .main .galeria .galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 480px) {
  body .main .galeria {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  body .main .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 160px;
    grid-template-areas: "img1 img1  img6 img6" "img1 img1  img7 img3" "img2 img5  img4 img4" "img8 img8  img4 img4";
    gap: 0.8em;
  }
}
@media screen and (min-width: 1024px) {
  body .main .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 160px;
    grid-template-areas: "img1 img1  img6 img6" "img1 img1  img7 img3" "img2 img5  img4 img4" "img8 img8  img4 img4";
    gap: 0.8em;
  }
}

.banner {
  height: 100vh;
  max-width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.banner h1 {
  font-family: Andralis;
  text-align: center;
  margin: 0px;
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 5px;
  top: 50%;
  justify-self: center;
  align-self: center;
  visibility: hidden;
  text-shadow: -1px -1px 0px #468AA5, 3px 3px 0px #468AA5, 6px 6px 0px #DE849E;
}
.banner h1 #w1 {
  animation: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}
.banner h1 #w2 {
  animation: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}
.banner h1 #w3 {
  animation: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 3.6s;
  animation-fill-mode: forwards;
}
.banner h1 #w4 {
  animation: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 4.8s;
  animation-fill-mode: forwards;
}
.banner h1 #w5 {
  animation: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
.banner h1 #w6 {
  animation: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 7.2s;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 1024px) {
  .banner h1 {
    margin-right: 29%;
    margin-left: 60%;
  }
}
@media screen and (min-width: 768px) {
  .banner h1 {
    font-size: 120px;
    letter-spacing: 10px;
    text-shadow: -2px -2px 0px #468AA5, 6px 6px 0px #468AA5, 12px 12px 0px #DE849E;
  }
}
.banner h2 {
  font-family: Nagoda;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  justify-self: center;
  align-self: center;
  justify-self: center;
  align-self: center;
  visibility: hidden;
  animation: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation-delay: 8.4s;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 768px) {
  .banner h2 {
    font-size: 40px;
    letter-spacing: 4px;
  }
}
.banner .arrow,
.banner .arrow::before {
  position: absolute;
  left: 50%;
  transform: scale(0);
  transition: transform 0.4s;
}
.banner .arrow {
  width: 40px;
  height: 40px;
  top: 80%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
.banner .arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

a {
  font-family: Andralis;
  list-style: none;
  font-size: 1em;
  color: whitesmoke;
  margin: 0.4vw;
  padding: 0.4vw;
}
@media screen and (min-width: 768px) {
  a {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1200px) {
  a {
    font-size: 3em;
  }
}

.trilce_name {
  font-family: HKGrotesk;
  font-stretch: semi-expanded;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .trilce_name {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 1200px) {
  .trilce_name {
    font-size: 2em;
  }
}

body {
  max-width: auto;
  overflow: auto;
  font-family: monospace;
  background: #468AA5;
  background-image: url("/assets/aside_espada_normal.png");
  background-position: -535px -150px;
  background-size: 600vw;
  background-repeat: no-repeat;
}
body main {
  display: flex;
  position: relative;
  direction: row;
  width: auto;
  margin: 20vh 10vw;
}
body main .descripcion {
  border: 1px transparent;
  border-radius: 0.3rem;
  padding: 5vh 10vw;
  background-color: rgba(250, 250, 250, 0.5);
}
body main .descripcion .descripcion_texto {
  margin-top: 5vh;
}
body main .descripcion .descripcion_texto p {
  text-align: justify;
  font-size: 16px;
}
@media screen and (min-width: 480px) {
  body main .descripcion .descripcion_texto p {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  body main .descripcion .descripcion_texto p {
    font-size: 20px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1024px) {
  body main .descripcion .descripcion_texto p {
    font-size: 22px;
    margin: 0 5vw;
  }
}
@media screen and (min-width: 480px) {
  body {
    background-size: 500vw;
    background-position: -550px;
    background-image: 300% top;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-position: -1000px -350px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-size: 100vw;
    background-position: 0 10px;
  }
}

/*# sourceMappingURL=cssPruebas.css.map */
