
@keyframes escribir {
    from { 
        width: 90% 
    }
    to { 
        width:0
    }
    
}


@keyframes arrow{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-10px, -10px)
    }
}
  

