
.footer{
    padding: 40px 0;
    background-color: #fff;

    .social{
        text-align: center;
        padding-bottom: 25px;
        color: #4b4c4d;

        a{
            font-size: 24px;
            color:inherit;
            border: 1px solid #ccc;
            width: 40px;
            height: 40px;
            line-height: 38px;
            display: inline-block;
            align-items: center;
            
            border-radius: 50%;
            margin: 0 8px;
            opacity: 0.75;
            transition: .5s ease;
            
            &:hover{
                opacity: 0.9;
                transform: scale(1.3,1.3);

            }
        }
    }

    ul{
        margin-top: 0;
        padding: 0;
        list-style: none;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;

        li{
            display: inline-block;
            padding: 0 15px;
            a{
                color: inherit;
                text-decoration: none;
                opacity: 0.8;

                &:hover{
                    opacity: 1;
                }
            }
    
        }
    }          
}

