body{
    font-family: Andrealis;

    .main{
        background-color: rgba(248, 248, 248, 0.7);
        filter: blur(1.1);
        padding: 2vw 2vh;
        border:solid 0.4em transparent;
        border-radius: 0.3em;
        display: flexbox;
        flex-direction: column;
        .title{
            text-align: center;
            font-size: 3rem;
            padding: .8em 0.4em;
        }
        .galeria{
            padding-bottom: 3em;
            padding-top: 1em;
            display: grid;
            
            grid-auto-rows: 160px;
            grid-template-areas: 
            "img1 img1 "
            "img7 img3 "
            "img4 img4 "
            "img4 img4 "
            "img8 img2 "
            "img5 img6 ";
            gap: .5em;
            
            .galeria__fot--g1{
                grid-area: img1;
            }
            .galeria__fot--g2{
                grid-area: img2;
            }
            .galeria__fot--g3{
                grid-area: img3;
            }
            .galeria__fot--g4{
                grid-area: img4;
            }
            .galeria__fot--g5{
                grid-area: img5;
            }
            .galeria__fot--g6{
                grid-area: img6;
            }
            .galeria__fot--g7{
                grid-area: img7;
            }
            .galeria__fot--g8{
                grid-area: img8;
            }

            .galeria__img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media screen and (min-width: $bp-small-2){
                font-size: 18px;
            }
            
            @media screen and (min-width: $bp-med){
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-auto-rows: 160px;
            grid-template-areas: 
            "img1 img1  img6 img6"
            "img1 img1  img7 img3"
            "img2 img5  img4 img4"
            "img8 img8  img4 img4";
            gap: .8em;
            }
        
            @media screen and (min-width: $bp-large){
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-auto-rows: 160px;
                grid-template-areas: 
                "img1 img1  img6 img6"
                "img1 img1  img7 img3"
                "img2 img5  img4 img4"
                "img8 img8  img4 img4";
                gap: .8em;
            }
        }
    }
}