// BreakPoints
$bp-small: 320px;
$bp-small-2: 480px;
$bp-med-s: 600px;
$bp-med: 768px;
$bp-large: 1024px;
$bp-xl: 1200px;

// Variables footer
$font-footer-color: rgb(229,228,228);
$font-footer-family: Andralis;
$font-footer-size-sm: 16px;
$font-footer-size-m: 26px;
$font-footer-size-l: 32px;

// Botones
$font-boton-color: rgb(0,30,30)