@import "tipografia";
@import "animaciones";



body { 
    max-width: 100vw;
    overflow:auto;
	font-family: monospace; 
	background: #468AA5;
    background-image: url("/assest/aside_espada_normal.png");
    background-position: bottom;
    background-position-y: 15%;
    background-size: auto;
    background-repeat: no-repeat;
}
.banner {
    height: 100vh;
    max-width: 50vw;
	margin: auto;
	display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    h1 {    
        font-family: Andralis;
        text-align: center;
        margin: 0px ;
        color: #ffffff;
        font-size: 60px;
        letter-spacing: 5px;
        top: 50%;
        justify-self: center;
        align-self: center;    
           
        text-shadow: -1px -1px 0px #468AA5,
          3px 3px 0px #468AA5,
          6px 6px 0px #DE849E;

          #trilceSpam{
            position:absolute;
            margin-right: 10%;
            margin-left: 10%;
            right:5%;
            width:0;
            background: #468AA5;
            animation: escribir 6s steps(100000) 
            alternate;
        }
    }

    h2{
        font-family: Nagoda;
        margin-right: 25%;
        color: white;
        font-size: 20px;
        letter-spacing: 2px;
        justify-self: center;
        align-self: center;  
        justify-self: center;
        align-self: center;   
        
        #editorialSpam{
            position:absolute;
            right:5%;
            width:0;
            background: #468AA5;
            animation: escribir 8s steps(100000) 
            alternate;
        
        }
    }

    .arrow,
    .arrow::before{
        position: absolute;     
        left: 50%;
        transform: scale(0);
        transition: transform .4s;
    }

    .arrow{
        width: 40px;
        height: 40px;
        top: 80%;
        margin: -20px 0 0 -20px;
        -webkit-transform: rotate(45deg);
        border-left: none;
        border-top: none;
        border-right: 2px #fff solid;
        border-bottom: 2px #fff solid;

    }
  
    .arrow:before{
        content: '';
        width: 20px;
        height: 20px;
        top: 50%;
        margin: -10px 0 0 -10px;
        border-left: none;
        border-top: none;
        border-right: 1px #fff solid;
        border-bottom: 1px #fff solid;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: arrow;
    }
        
    
    


}

#nav{
    animation: entrada 10s alternate;
}



