@import "variables";
@import "tipografia";
@import "animaciones";

// Links navegacion 
a {
    font-family: Andralis;
    list-style: none;
    font-size: 1em;
    color: whitesmoke;
    margin: 0.4vw;
    padding: 0.4vw;

    @media screen and (min-width:768px) {
        font-size: 2em;
    }
    @media screen and (min-width:1200px) {
        font-size: 4em;
    }
  }

  .trilce_name {
    font-family:  HKGrotesk;
    font-stretch: semi-expanded;
    font-size: 1rem;
    
    @media screen and (min-width:768px){
        font-size: 1.8em;
    }
    @media screen and (min-width:1200px){
        font-size: 2em;
    }

  }


body { 
    max-width: 100vw;
    overflow:auto;
	font-family: monospace; 
	background: #468AA5;
    background-image: url("/assest/aside_espada_normal.png");
    background-position: -535px -150px;
    background-size: 600vw;
    background-repeat: no-repeat;
    //background-position-y: 45%;
    //background-size: auto;
    //background-repeat: no-repeat;

    
    @media screen and (min-width: $bp-small-2){
        background-size: 500vw;
        background-position: -550px;
        background-image: 300% top;
    }
    
    @media screen and (min-width: $bp-med){
        background-position: -1000px -350px;
    }

    @media screen and (min-width: $bp-large){
        background-size: 100vw;
        background-position: 0 10px;
    }



}
.banner {
    height: 100vh;
    max-width: 50vw;
	margin: auto;
	display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    h1 {    
        font-family: Andralis;
        text-align: center;
        margin: 0px ;
        color: #ffffff;
        font-size: 60px;
        letter-spacing: 5px;
        top: 50%;
        justify-self: center;
        align-self: center;    
           
        text-shadow: -1px -1px 0px #468AA5,
          3px 3px 0px #468AA5,
          6px 6px 0px #DE849E;

          #trilceSpam{
            position:absolute;
            margin-right: 10%;
            margin-left: 10%;
            right:5%;
            width:0;
            background: #468AA5;
            animation: escribir 6s steps(100000) 
            alternate;
            
            @media screen and (min-width: $bp-large){
                margin-right: 29%;
                margin-left: 60%;
            }
        

        }

        @media screen and (min-width: $bp-med){
            font-size: 120px;
            letter-spacing: 10px;
            
            text-shadow: -2px -2px 0px #468AA5,
            6px 6px 0px #468AA5,
            12px 12px 0px #DE849E;
  
        }
    }

    h2{
        font-family: Nagoda;
        color: white;
        font-size: 20px;
        letter-spacing: 2px;
        justify-self: center;
        align-self: center;  
        justify-self: center;
        align-self: center;   
        
        #editorialSpam{
            position:absolute;
            right:5%;
            width:0;
            background: #468AA5;
            animation: escribir 8s steps(100000) 
            alternate;

            @media screen and (min-width: $bp-large){
                margin-right: 35%;
                margin-left: 60%;
            }
        
        }

        @media screen and (min-width: $bp-med){
            font-size: 40px;
            letter-spacing: 4px;

        }

    }

    .arrow,
    .arrow::before{
        position: absolute;     
        left: 50%;
        transform: scale(0);
        transition: transform .4s;

    }

    .arrow{
        width: 40px;
        height: 40px;
        top: 80%;
        margin: -20px 0 0 -20px;
        -webkit-transform: rotate(45deg);
        border-left: none;
        border-top: none;
        border-right: 2px #fff solid;
        border-bottom: 2px #fff solid;

    }
  
    .arrow:before{
        content: '';
        width: 20px;
        height: 20px;
        top: 50%;
        margin: -10px 0 0 -10px;
        border-left: none;
        border-top: none;
        border-right: 1px #fff solid;
        border-bottom: 1px #fff solid;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: arrow;
    }
        
    
    

